---
---

@import "{{ site.theme }}";

header {
  display: none;
}

.main-content {
  h1 {
    color: #47444a;
  }
}

p {
  float: left;
  margin-right: 1em;
  clear:both;
}

img {
  margin-left: 0px;
  overflow:auto;
  display:block;
}

